<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_USE_DATA_IN_BACKGROUND" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/img_1"
        android:label="App Lugares"
        android:roundIcon="@drawable/img_1"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".ejemplo"
            android:exported="false" />
        <activity
            android:name=".Listausu"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.NoActionBar"/>
        <activity
            android:name=".Listausu2"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.NoActionBar"/>
        <activity
            android:name=".Listausu3"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.NoActionBar"/>
        <activity
            android:name=".Listausu4"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.NoActionBar"/>
        <activity
            android:name=".Listausu5"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.NoActionBar"/>
        <activity
            android:name=".tiket"
            android:exported="false" />
        <activity
            android:name=".Inicio"
            android:exported="true"
            />
        <activity
            android:name=".valor"
            android:exported="true"
            />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".pantalla_botones"
            android:exported="true"
            />
        <activity
            android:name=".registro"
            android:exported="true"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".mostrardetalle"
            android:exported="true"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".mostrardetalle3"
            android:exported="true"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".mostrardetalle2"
            android:exported="true"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".mostrardetalle4"
            android:exported="true"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".mostrardetalle5"
            android:exported="true"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".login"
            android:exported="true"
            android:label="App Lugares"
            android:theme="@style/Theme.MyApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>